@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.universal {
    font-family: 'Inter', sans-serif;;
}

.nav-prop {
    background-color: #4A97FE;
}

.brand-logo {
    margin-left: 30px;
}

.icon-prop {
    color: white;
    margin-right: 10px;
    transition: color 0.1s;
}

.icon-prop:hover {
    color: rgb(193, 193, 193);
}

.search-container {
    width: 100%;
    margin: auto;
    margin-top: 3vh;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.input-container {
    height: 35px;
}

.login-input {
    /* border-radius: 20%; */
    border-color: #37547B;
    border-left-color: white;
    /* border: none; */
    outline: none;
    margin-bottom: 12px;
}

.login-span {
    background-color: white;
    border-color: #37547B;
}

.icon-color {
    color: #37547B;
}

.form-control:focus {
    border-color: #37547B;
} 

.product {
    font: inter;
    color: #37547B;
    font-weight: 600;
    margin-top: 5px;
}

.btn-tambah {
    width: 10vw;
    background-color: #4A97FE;
    color: white;
    float: right;
}

input[type="checkbox"]  {
    display: none;
 }

 .card-container {
    margin-top: 40px;
    margin-right: 3.2vw;
    margin-left: 3.2vw;    
 }


 .card-content {
    padding: 8px;
 }

 .card-text{
    margin-top: 2px;
 }

 .card-title {
    font-weight: 700;
 }

 .card-text, .card-title {
    color: #37547B;
    margin-bottom: 5px;
 }

 .card {
    width: 14rem;
    background-color: rgba(248, 252, 255, 1);
    box-shadow: 0px 2px 8px 0px rgba(120, 157, 208, 0.28);
    border: 3px solid red;

 }

 .main {
    /* background-color: red; */
    margin-right: 3vw;
    margin-left: 3vw;
 }

 .no-padding {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 30px;
 }

 .col-card {
    width: 13rem;
 }

 .stok {
    font-size: 12px;
 }

 .row-bg {
    background-color: aqua;
 }

 .col-center {
    margin: auto;
 }

 .card-container {
    margin: 0;
 }



 
 
