html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

/* set font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

/* main */

main {
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    background-color:rgba(74, 151, 254, 1);
    box-sizing: border-box;
    border-bottom:1px solid #EEEEEE;
    /* border-radius: 24px; */
}

nav .logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}

nav .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    padding: 12px 16px;
    font-family: 'Inter', sans-serif ;
    font-size: 18px;
    font-weight: 500;
}

nav .menu img{
    width: 30px;
    margin-right: 8px;
}

/* product-side */
.product-side {
    flex-basis: 60%;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 3px 8px;
    background-color: white;
    border-radius: 12px;
    border: 3px solid rgba(55, 84, 123, 1);
    height: 25px;
    margin-top: 25px;
}

.find-logo {
    width: 16px;
    margin-right: 6px;
}

.search-input {
    border: none;
    font-size: 16px;
    flex-grow: 1;
}

.search-input:focus {
    outline: none;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.product-title {
    font-size: 20px;
    font-weight: 600;
    color: rgba(55, 84, 123, 1);
    font-family: 'Inter', sans-serif;
    flex-grow: 1;
}

.btn-tambah {
    background-color: rgba(74, 151, 254, 1);
    align-items: center;
    color: white;
    width: 15%;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    height: 30px;
    transition: background-color 0.1s;
    font-size: 15px;
}

.btn-tambah:hover {
    background-color: rgb(49, 98, 161);
    cursor: pointer;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    min-height: 0;
}

.product-card {
    border: 1px solid rgba(203, 236, 255, 0.5);
    box-shadow: 0px 2px 8px 0px rgba(120, 157, 208, 0.28);
    background-color: rgba(248, 252, 255, 1);
    width: 22%;
    border-radius: 3px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.img-product {
    border-radius: 3px;
}

.product-info {
    margin: 0 8px;
}

.product-name, .product-price {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgba(55, 84, 123, 1);
    font-size: 14px;
    margin-top: 20px;
}

.product-price {
    font-weight: 600;
    margin-top: 5px;
}

.product-add {
    width: 100%;
    height: 35px;
    background-color: rgba(74, 151, 254, 1);
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    transition: background-color 0.1s;
}

.product-add:hover {
    background-color: rgb(49, 98, 161);
    cursor: pointer;
}
/* price side */
.price-side {
    height: 100vh;
    background-color: rgba(230, 246, 255, 1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 25px 2vw;
}

.cart-cont {
    display: flex;
    flex-direction: column;
    margin-top: 25;
}

.cart-col-header {
    display: flex;
    flex-direction: row;
}

.cart-col-header h3 {
    font: 'Inter', sans-serif;
    color: rgba(55, 84, 123, 1);
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 16px;
}

.cart-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.cart-name {
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    margin-right: 5%;
}

.cart-quantity {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.quantity-input {
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.quantity-input input {
    border: 1px solid rgba(74, 151, 254, 1);
    width: 20px;
    border-radius: 3px;
    height: 20px;
}

.delete-item {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background-color: rgba(254, 74, 74, 1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: none;
}

.delete-item img {
    width: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input input:focus {
    outline: none;
    border: 1px solid rgba(74, 151, 254, 1);
}

.cart-price {
    display: flex;
    flex-basis: 35%;
    margin-left: 5%;
    flex-direction: column;
    align-items: flex-end;
}

.cart-price p, .cart-name p {
    font: 'Inter', sans-serif;
    color: rgba(55, 84, 123, 1);
    font-weight: 500;
    font-size: 14px;
}

.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(74, 151, 254, 1);
    height: 25px;
    align-items: center;
}

.total-price p {
    font: 'Inter', sans-serif;
    color: rgba(55, 84, 123, 1);
    font-weight: 600;
    font-size: 16px;
}

.process-cont {
    display: flex;
    flex-direction: column;
}

.paying-method {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.paying-method label {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.paying-method img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 5px;
}

.paying-method label:hover {
    cursor: pointer;
}

.paying-method label:active {
    border: 2px solid rgba(55, 84, 123, 1);
    border-radius: 3px;
}

.paying-method label:focus {
    border: 2px solid rgba(55, 84, 123, 1);
    border-radius: 3px;
}

.pay-final {
    width: 100%;
    background-color: rgba(74, 151, 254, 1);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    font: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    margin-top: 10px;
    transition: background-color 0.1s;
}

.pay-final:hover {
    background-color: rgb(49, 98, 161);
    cursor: pointer;
}