/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/* CSS RESET */

/* set font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    background-color:rgba(74, 151, 254, 1);
    box-sizing: border-box;
    border-bottom:1px solid #EEEEEE;
    /* border-radius: 24px; */
}

nav .logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}

nav .logo-kotak{
     margin-right: 18px;
}

nav .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    padding: 12px 16px;
    font-family: 'Inter', sans-serif ;
    font-size: 18px;
    font-weight: 500;
}
nav .menu img{
    width: 30px;
    margin-right: 8px;
}

/* dropdown logout */

nav .menu ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    overflow: hidden;
    background-color: #37547B;
    /* text-align: center; */
}
nav .menu:hover ul.dropdown{
    display: block;
}

main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    align-items: center;
    /* background-color: #E6F6FF; */
    width: 70%;
    border-radius: 5px;
    margin-top: 32px;
}

.container h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #37547B;

}

/* set container margin to 0 */

.m{
    margin: 0;
    padding-top: 0;
}

/* back */

.flex-content-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgba(55, 84, 123, 1);
}
.flex-content-middle h2{
    margin-left: 10px;
}

/* SEARCHING */
.flex-content-left{
    display: flex;
    flex-direction: row;
    width: 66%;
    /* justify-content: left; */
    align-items: center;
    color:rgba(55, 84, 123, 1);
    background-color: #E6F6FF;
    padding: 0;
}

/* dropdown */
.flex-content-left .tanggal{
    max-width: 200px;
    padding: 12px 12px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.flex-content-left .tanggal option{
    max-width: 200px;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 5px;
}

/* search */
.flex-content-left .search-inp{
    width: 100%;
    display: flex;
    padding: 12px;

}

.flex-content-left .search-inp input{
    width: 100%;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 5px;
}


/* BUTTON TAMBAH ADMIN */

.container button.add{
    border: none;
    padding: 12px 24px;
    background-color:rgba(74, 151, 254, 1) ;
    border-radius: 16px;
    color: white;
    font-weight: 500;
    transition: all ease-in .2s;
}

.container button.add:hover{
    background-color: white;
    color: rgba(74, 151, 254, 1);
    transition: all ease-in .2s;
}
.container button.add:active{
    background-color: rgba(74, 151, 254, 1);
    color: white;
    transition: all ease-in .1s;
}

/* CSS FOR TABLE */

.content-table{
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background-color: rgba(74, 151, 254, 1);
    color: #ffffff;
    font-weight: 600;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
    border-top: 8px solid #E6F6FF;
    background-color: white;
    color: rgba(55, 84, 123, 1);
    vertical-align: middle;
    text-align: center;
}

.content-table th{
    border: none;
    background-color: #E6F6FF;
}

.content-table td{
    font-weight: 300;
}

.content-table .first{
    border-left: 8px solid #E6F6FF;
}
.content-table .end{
    border-right: 8px solid #E6F6FF;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 20px solid #E6F6FF;
    border-radius: 5px 5px 0 0;
}

/* jika ada table yang aktive (diklik) warnanya jadi gini, dikasih  class (active-row) */
/* .content-table tbody tr.active-row{
    font-weight: 600;
    color: rgba(74, 151, 254, 1);
} */

.cetak{

    color: white;
    width: 100%;
    vertical-align: middle;
    padding: 0;
    margin-top:10px;
}

.cetak button{
    background-color: rgba(74, 151, 254, 1);
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: medium;
}

.cetak button:active{
    background-color: rgb(47, 137, 255);
    color: white;
}
